<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prawojazdy1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="hgyuiyiou"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".P"></activity>
        <activity android:name=".wyniki" />
        <activity android:name=".pytd" />
        <activity android:name=".pytc" />
        <activity android:name=".pytb" />
        <activity android:name=".pyt" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>